/* Main */
body{
    background-color: #001F3D;
    margin: 0;
}

.mainhead{
    display: flex;
    width: 100%;
    align-content: flex-end;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
    color: #ffffff; 
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-left: 0;
    background-color: #0000000d;
    box-shadow: 0 0 10px #c4c4c4;
}
.mainhead > a{
    color: white;
    text-decoration: none;
    position: relative;
    left: 800px
}
.mainhead > a:visited{
    color: white;
}
.mainhead > a:hover{
    color: gray;
}
.mainhead > a:active{
    color: rgb(0, 0, 0);
}
.icon{
    display: block;
    width: 60px;
    height: auto;
    cursor: pointer;
    position: relative;
    left: 400px;
}
.mainhead  .logo {
    position: relative;
    display: flex;
    justify-content: start;
    width: 60px;
    height: auto;
    cursor: pointer;
    right: 400px;
    top: 3px;
}

/*HOMEPAGE*/
.homepageInfo {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 150px;
}
.homepageInfo > h2{
    font-size: 100px;
    color: white;
    margin-left: 50px;
}
.tagline > p{
    font-size: 50px;
    color: white;
    margin-left: 50px;
}
.intro > p{
    font-size: 20px;
    color: white;
    margin-left: 50px;
}
/*Questions*/
.allSection {
    padding: 100px 70px;
    text-align: center;
    background-color: #ed985f;
}
.knowledgeGrid {
    display: grid;
    grid-template-columns: repeat(250px, 1fr,);

}
.knowledgeItem {
    background: #fff;
    padding: 54px;
    border-radius: 12px;
    width: 400px;
    color: #001F3D;
    margin: auto;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
}
.knowledgeItem:hover {
    transform: translateY(-5px);
}
/* Languages */
.languageSection h3 {
    margin-bottom: 50px;
    font-size: 40px;
    color: #001F3D;
}
.languageGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 32px;
}
.languageItem {
    background: #fff;
    padding: 54px;
    border-radius: 12px;
    color: #001F3D;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}
.languageItem:hover {
    transform: translateY(-5px);
}
.htmllangIcon {
    width: 120px;
    margin-bottom: 16px;
}
.csslangIcon {
    width: 90px;
    margin-bottom: 16px;
}
.jslangIcon {
    width: 70px;
    margin-bottom: 16px;
}
.csharplangIcon {
    width: 90px;
    margin-bottom: 16px;
}
.javalangIcon {
    width: 90px;
    margin-bottom: 16px;
}
.phylangIcon {
    width: 90px;
    margin-bottom: 16px;
}
/* About Us */
.aboutUs .about {
    margin-right: 50px;
    margin-bottom: 100px;
    text-align: center;
}
.aboutUs{
    background-color:  #F7B980;
    padding: 50px;
    margin-top: 0px;
    margin: 0px auto;
    margin-bottom: 0px;
    text-align: center;
    font-size: 20px;
    color: #001F3D;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 30px;
    margin-left: 50px;
}
.aboutUs > h3{
    font-size: 20px;
}
.aboutUs > p{
    font-size: 15px;
    margin: auto;  
    width: 400px; 
}
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 400px;
}
.site-footer {
    background: #E6E6E6;
    color: #242323;
    padding: 40px 32px;
}
.footer {
    display: block;
    unicode-bidi: isolate;
}
.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.footer-section {
    position: relative;
    left: 100px;
}
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #333;
}
/*LEARN PROG LANGUAGES*/
.LearnProgLanguages{
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

/*FOR BEGINNERS BUTTON*/
.beginnersBtn{
    color: white;
    border-style: none;
    border-radius: 30px;
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.304);
    background-color:  #4677ff41;
    width: 200px;
    height: 150px;
    padding: 30px; 
    
    margin-top: 100px;
}
.beginnersBtn:hover{
    color: #000000;
    background-color: rgb(198, 198, 198);
    box-shadow:0 0 15px rgba(255, 255, 255, 0.8), 0 0 5px inset rgba(255, 255, 255, 0.6);
    
}
/*WEB DEV BUTTON*/
.WebDevBtn{
    color: white;
    border-style: none;
    border-radius: 30px;
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.304);
    background-color:  #4677ff41;
    width: 200px;
    height: 150px;
    padding: 30px; 
    margin: 100px;
    margin-top: 100px;
}
.WebDevBtn:hover{
    color: #000000;
    background-color: rgb(198, 198, 198);
    box-shadow:0 0 15px rgba(255, 255, 255, 0.8), 0 0 5px inset rgba(255, 255, 255, 0.6);
    
}
/*SOFT DEV BUTTON*/
.SoftDevBtn{
    color: white;
    border-style: none;
    border-radius: 30px;
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.304);
    background-color:  #4677ff41;
    width: 200px;
    height: 150px;
    padding: 30px; 
    
    margin-top: 100px;
}
.SoftDevBtn:hover{
    color: #000000;
    background-color: rgb(198, 198, 198);
    box-shadow:0 0 15px rgba(255, 255, 255, 0.8), 0 0 5px inset rgba(255, 255, 255, 0.6);
    
}
/* Login */
.loginForm {
    text-align: center;
    background-color: white;
    padding: 100px;
    width: 10%;
    height: auto;
    margin: auto;
    position: relative;
    top: 200px
}
.loginForm .user {
    margin-bottom: 40px;
}